@charset "UTF-8";

$color-text: #333;
$color-text-placeholder: #a0a0a0;
$color-text-readonly: #ddd;
$color-text-code: #777;
$color-border: #ccc;
$color-link: #d05b50;
$color-link-hover: #d05b50;
$fontsize: 12px;

html,body {
	height: 100%;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: subpixel-antialiased;
}
body,div,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,iframe,fieldset,legend,input,select,textarea,a,button{
	margin: 0;
	padding: 0;
	letter-spacing: -0.1em;
}
body,div,td,li {
	font-size: $fontsize;
	color: $color-text;
}
*:before,*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a {
	color: $color-text;
	text-decoration: none;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	&:link,&:active,&:visited {
		color: $color-link;
		text-decoration: none;
	}
	&:hover {
		color: $color-link-hover;
		text-decoration: underline;
	}
}
label,button {
	cursor: pointer;
}
button {
	*overflow: visible;
	overflow: hidden;
	background-color: transparent;
	border: none;
	text-align: center;
}
blockquote,q {
	quotes: '' '';
	&:before,&:after {
		content: '';
	}
}
table caption, legend, hr {
	display: none;
	*width: 0;
}
option {
	padding-right: 6px;
}
hr {
	display: block;
	height: 1px;
	border-top: 1px solid $color-border;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
	margin: 1em 0;
	padding: 0;
}
pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	color: $color-text;
}
table,th,td {
	border: 0;
	word-break: break-all;
}
table {
	table-layout: fixed;
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}
input,select,textarea {
	height: 20px;
	margin: 1px;
	border: 1px solid $color-border;
	padding-left: 3px;
	padding-right: 3px;
	font: inherit;
	line-height: normal;
	font-size: $fontsize;
	color: $color-text;
	&[readonly] {
		color: $color-text-readonly;
	}
}
input[type="text"],input[type="number"],input[type="password"],input[type="button"],input[type="submit"],
input[type="reset"],input[type="email"],input[type="search"],input[type="tel"],textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border: 1px solid $color-border;
	vertical-align: middle;
}
::-webkit-input-placeholder {
	color: $color-text-placeholder;
	opacity: 1 !important;
}
:-moz-placeholder,::-moz-placeholder,:-ms-input-placeholder {
	color: $color-text-placeholder;
}
img,label,input[type="radio"],input[type="checkbox"] {
	vertical-align: middle;
}
img,fieldset {
	border: 0 none;
}
ul,ol {
	list-style: none;
	li {
		list-style-type: none;
	}
}
iframe {
	border: 0;
}
:focus {
	outline: 0;
}

/* HTML5 IE hack */
article,aside,header,footer,figure,figcaption,nav,section {
	display: block;
}
address,caption,cite,code,dfn,em,i,var {
	font-style: normal;
	font-weight: normal;
}
code {
	white-space: pre;
	overflow: auto;
	font-size: $fontsize;
	color: $color-text-code;
	background-color: #f5f5f5;
	border: 1px solid #cccccc;
	border-radius: 4px;
}

/* Common blind text class */
.blind {
	display: block;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border: 0;
	background: none;
	font-size: 0;
	line-height: 0;
}